{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>장고는 어려워</title>
    <style>
        .centered-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px; /* 이미지가 있는 높이에 맞게 조절하세요 */
        }

        .centered-image img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
<!---네비게이션바 & 로비화면가는 버튼-->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!---Bootstrap JS-->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>
